<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DBoy.share.to.me" >

    <application>
        <activity android:name=".ShareToMeActivity"  >

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="image/*" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="text/plain" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND_MULTIPLE" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="image/*" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:mimeType="text/x-vcard" />-->
<!--            </intent-filter>-->

        </activity>
    </application>
</manifest>
